<div id="dialog-confirm" class="hide">
    <div class="alert alert-info bigger-110" id="dialog-title">
        将要该信息此操作不可逆！
    </div>
    <div class="space-6"></div>
    <p class="bigger-110 bolder center grey" id="dialog-content">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i> 请再三确认该操作！
    </p>
</div>
<div id="loadingToast" style="display:none;">
    <div class="showbox_mask"></div>
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
</div>