<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) { }
    </script>
    

    <ul class="nav nav-list">
        <li>
            <a href="/">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 首页 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/gpsuser/list">
                <i class="menu-icon fa fa-location-arrow"></i>
                <span class="menu-text"> 车辆位置 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/carver/index">
                <i class="menu-icon fa fa-check-square"></i>
                <span class="menu-text"> 车辆核验 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/gpsuser/list">
                <i class="menu-icon fa fa-truck"></i>
                <span class="menu-text"> 车辆管理 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/gpsuser/list">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text"> 费用明细 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/gpscharge/index">
                <i class="menu-icon fa fa-paypal"></i>
                <span class="menu-text"> 费用充值 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/gpsuser/list">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> 用户信息 </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/gpscharge/list">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> 费用信息 </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/gpsedi/list">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> EDI信息 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/vihicledata/list">
                <i class="menu-icon fa fa-calendar"></i>

                <span class="menu-text">
                    车辆数据

                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/vihiclelocation/list">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> 车辆画像位置 </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>