@{
    ViewData["Title"] = "费用信息-充值";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/home/index">首页</a>
                    </li>
                    <li>
                        <a href="/gpscharge/index">费用信息</a>
                    </li>
                    <li class="active">充值</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-header">
                <h1>
                    费用信息<small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        微信支付、支付宝支付、银行卡转账
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">微信支付</div>
                    <div class="row">
                        <img src="~/images/weixin_pay_qrcode.png"/>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">支付宝</div>
                    <div class="row">
                        <img src="~/images/ali_pay_qrcode.png" />
                    </div>
                </div>
                <div class="col-xs-4">
                    银行卡转账<br />
                    请根据以下产品名称进行转账<br />
                    充值5000，无赠送<br />
                    充值10000，赠送500，相当于95折<br />
                    充值20000，赠送2000，相当于9折<br />
                    充值50000，赠送10000，相当于8折<br />
                                         <br />
                    收款银行信息<br />
                    账户名称：上海棱镜供应链管理有限公司<br />
                    开户行：  浙江泰隆商业银行股份有限公司上海南翔支行<br />
                    银行行号： 3101210120100015972<br />
                </div>
            </div>
        </div>
    </div>
</div>